<!DOCTYPE html>
<html <%- metaHeader.htmlAttributes.toString() %>>
  <head>
    <link rel="stylesheet" href="<%= styleSrc %>" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <%- metaHeader.title.toString() %>
    <%- metaHeader.base.toString() %>
    <%- metaHeader.meta.toString() %>
    <%- metaHeader.link.toString() %>
    <%- metaHeader.script.toString() %>
    <%- metaHeader.style.toString() %>
  </head>
  <body>
    <div id="root"><%- html %></div>
    <script type="text/javascript" charset="utf-8">
      window.__REDUX_STATE__ = '<%= reduxState %>';
    </script>

    <% scriptSrcs.forEach(function(src){ %>
      <script src="<%= src %>"></script>
    <% }) %>

  </body>
</html>
